
 <!-- <!DOCTYPE html>
 <html>
 <head>
 </head>
 <body> -->
 
  <h2>Student's Form</h2>
  <div class="container">
    <form [formGroup]= 'userProfileForm' (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-25">
        <label>First Name</label>
      </div>
      <div class="col-75">
        <input type="text" formControlName="firstname" placeholder="enter the student's first name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label>Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" formControlName="lastname" placeholder="enter the student's last name..">
      </div>
    </div>
    <div class="row">
     <div class="col-25">
       <label>Age</label>
     </div>
     <div class="col-75">
       <input type="text" formControlName="age" placeholder="enter the age..">
     </div>
   </div>
   <div class="row">
      <div class="col-25">
        <label>Email Id</label>
      </div>
      <div class="col-75">
        <input type="email" formControlName="email" placeholder="enter Email id..">
      </div>
    </div>
   <div class="row">
     <div class="col-25">
       <label>Password</label>
     </div>
     <div class="col-75">
       <input type="password" formControlName="password" placeholder="enter Password..">
     </div>
   </div>
    <!-- <div class="row"> 
      <div class="col-25">
        <label for="address">Address</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label>Subject</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." formControlName="subject" style="height:200px"></textarea>
      </div>
    </div> -->
    <div class="row">
      <input type="submit" value="Submit">
    </div>
    </form>
  </div>
  
  <!-- </body>
  </html>  -->
  
 
  
 <!-- <div>
   <form [formGroup]= 'userProfileForm' (ngSubmit)="onSubmit()">
     <label> First Name:
         <input type="text"  formControlName="firstname">
   </label>
    <br><br>
   <label>  Last Name:
         <input type="text" formControlName="lastname">
   </label>
    <br><br>
   <label>  Age:
         <input type="text" formControlName="age">
   </label>
   <br><br>
   <label>  Email Id:
         <input type="email" formControlName="email">
   </label>
   <br><br>
   <label>  Password
         <input type="password" formControlName="password">
   </label>
     <button type="submit">Submit</button>
     </form>
 </div> -->
 